---
layout: default
---

<!-- Begin page content -->
<div class="jumbotron mt-3">
    <h1 class="display-4"><strong>es<span class="red">Libre</span></strong> {{site.year}}</h1>
    <p class="lead">{{site.city}}, {{site.date}} de {{site.year}}.</p>
    <hr class="my-4">
    <div class="text-right">
      <p>¡Anímate a participar!</p>
      <a class="btn btn-primary btn-lg" href="programa/" role="button">Envía tu propuesta</a>
    </div>
  </div>
  <div class="container">
    <h2>Localización</h2>
    <div class="row">
      <div class="col-md-7">
        <p>La edición de 2019 de <strong>es<span class="red">Libre</span></strong> se celebrará en la <a href="info-practica/index.html#sede">Escuela Técnica Superior de Ingenierías 
          Informática y de Telecomunicación de la Universidad de Granada</a>.</p>
      </div>
      <div class="col-md-5">
          <img src="assets/imgs/etsiit-ugr.jpg" alt="Fachada de la Escuela Técnica Superior de Ingenierías Informática y de Telecomunicación de la Universidad de Granada" class="embed-responsive">
      </div>
    </div>
  </div>
  <hr/>
  {% include sponsors.html %}
