<div class="container">
    <h2>Sponsors</h2>
    {% for sponsor in site.data.2019.sponsors %}
    <div class="col-sm-3 col-md-2">
        <a href="{{sponsor.url}}"><img src="/{{site.year}}/assets/logos-sponsors/{{sponsor.logo}}" alt="{{sponsor.nombre}}" class="embed-responsive"></a>
    </div>
    {% endfor %}
</div>