---
layout: default
section: info
title: Información práctica para asistir a esLibre
---

<h2 id="precio" class="mt-3">Precio</h2>
<p>Fiel a su nombre, <strong>es<span class="red">Libre</span></strong> es de libre acceso, pero se habilitará
un sistema de registro con el fin de poder estimar la afluencia de gente al congreso.</p>

<h2 id="sede">Sede</h2>
<p>La <a href="https://etsiit.ugr.es">ETSIIT</a> tiene un salón de actos con
capacidad para unas 200 personas, salón de grados para 60, y aulas con
capacidad desde 40 hasta 100 personas; salas de reuniones con 12 o 25
personas, un hall (para mesas y pósters, si se busca eso), cafetería
en la propia Escuela, y comedor universitario que podría usarse en
caso necesario.</p>
<p>La
<a href="https://www.openstreetmap.org/?mlat=37.19698&amp;mlon=-3.62457#map=18/37.19698/-3.62457">ETSIIT está en un barrio periférico</a>,
pero tiene buenas comunicaciones, con una parada del &quot;metro&quot; a unos 10
minutos andando y paradas de autobús cerca del mismo edificio. Hay
aparcamientos en los alrededores, bares y cafeterías.</p>
<p>La universidad tiene habilitado un sistema para cuentas WiFi de
invitados, tanto en puerto 80/443 como puerto 22 para ssh. Dado que es
la escuela de informática, no debe tener problema para manejar un
cierto volumen de personas conectadas.</p>
<h2 id="alojamiento">Alojamiento</h2>
<p>En la inmediación de la ETSIIT no hay ningún hotel, pero hay varios a
3-4 paradas de autobús. Generalmente se acuerda un precio concertado
para un número fijo de habitaciones, dependiendo de la previsión, con
unos cuantos hoteles.</p>
<p>Hay también todo tipo de apartamentos y alojamientos para todos los
precios, y en junio es temporada baja, así que no tendría que haber
ningún problema para encontrar uno que se ajuste a cualquier
presupuesto. </p>
<h2 id="transporte">Transporte</h2>
<p>Granada está bien comunicada por autobús, muy mal por tren (aunque
para entonces puede haber llegado el AVE), y regular por avión (vuelos
diarios a Madrid y Barcelona). Se solicitarían precios especiales a
RENFE y ALSA para venir al evento.</p>
<p>También se pueden organizar <em>carpools</em> para grupos que vengan de la
misma ciudad y quieran ir y volver en el día, sobre todo de otras
ciudades andaluzas o de Murcia.</p>
<h2 id="patrocinios">Patrocinios</h2>
<p>En breve publicaremos las opciones de patrocinios disponibles</p>
<h2 id="conciliaci-n">Conciliación</h2>
<p>Para quien se tenga que venir con la familia, se habilitará una <em>zona
de conciliación</em> con personas voluntarias que organizarán actividades
para los más pequeños, para que sus madres y padres puedan asistir a
las charlas tranquilamente.</p>
<h2 id="ruta-tur-stica-geek-el-s-bado">Ruta turística geek el sábado</h2>
<p>Para los que queden el sábado por la mañana, se organizará una
ruta alternativa, geek, por Granada</p>
<ul>
<li>Ruta <em>geek</em> de visita a estructuras steampunk, lugares de especial
resonancia ingenieril o geek, y las matemáticas en los monumentos.</li>
<li>Ruta de graffiti</li>
</ul>
<p>También nos podemos ir de tapas, vamos. Eso ya a gusto de cada cual.</p>
