---
layout: default
section: programa
title: Programa de esLibre
---

<h1 class="mt-3 mb-3">Tú haces <strong>es<span class="red">Libre</span></strong></h1>

<div class="row">
    <div class="col-md-6">
            <h2>Formato</h2>

            <p>Están previstas las siguientes formas de participación:</p>
            
            <ul>
                <li>Track principal <strong>"Cuanto hemos cambiado"</strong></li>
                <li>Track generalista</li>
                <li>Charlas breves, ó <em lang="en">lightning talks</em></li>
                <li>Tutoriales</li>
                <li><em>Hackathones</em> (para unas 20 personas)</li>
                <li><em>Devrooms</em> propuestas por comunidades</li>
            </ul>
    </div>
    <div class="col-md-6">
            <h2>Fechas importantes</h2>
            <ul>
              <li>Tracks principales, <em lang="en">ligthning talks</em>:
                <ul>
                  <li>Apertura de la llamada de propuestas: <em>1 de Marzo</em>.</li>
                  <li>Cierre de solicitud de propuestas: <em>15 de Mayo</em>.</li>
                </ul>
              </li>
              <li><em lang="en">Devrooms</em>:
                <ul>
                  <li>Apertura de la llamada de propuestas: <em>5 de Marzo</em>.</li>
                  <li>Cierre de solicitud de propuestas: <em>31 de Marzo</em>.</li>
                  <li>Comunicación de <em lang="en">devrooms</em>: <em>15 de Abril</em>.</li>
                  <li>Entrega de planificación de <em lang="en">devrooms</em>: <em>31 de Mayo</em>.</li>
                </ul>
              </li>
              <li>Cierre de programa: <em>7 de junio</em>.</li>
            </ul>
    </div>
</div>
<h2>Envío de propuestas</h2>

<p>Tanto el envío de propuestas de charlas como la solicitud de <em>devrooms</em> se hará
a través del envío de una <em lang="en">GitHub Pull Request</em> al <a a href="https://github.com/eslibre/charlas/">repositorio para propuestas de 
  charlas y 
  <em>devrooms</em></a> de la organización <strong>es<span class="red">Libre</span></strong> en
    GitHub</a>.</p>

    <p>Para hacer la petición de una <em lang="en">devroom</em>, se solicitarán los siguientes requisitos:</p>
    <ul>
        <li>Grupo de usuarios establecido.</li>
        <li>Centrado en el software, hardware u otras tecnologías libres.</li>
        <li>Dispuesto a hacer una llamada a participación abierta y evaluación de propuestas de contenidos.</li>
        <li>Aceptar un <a href="/{{site.year}}/conducta/">código de conducta</a>.</li>
        <li>Asistir al evento para gestionar la <em lang="en">devroom</em> y coordinarse con el resto.</li>
    </ul>

<div class="row">
  <div class="col-md-6">
      <h3>¿Cómo solicitar una charla?</h3>

      <p>Para solicitar una charla en cualquiera de los formatos (<em lang="en">tracks</em> principales, <em lang="en">ligthning talks</em>):</p>
      <ol>
        <li><a href="https://help.github.com/en/articles/fork-a-repo" hreflang="en">Haz un fork</a> del <a href="https://github.com/eslibre/charlas/">repositorio</a>.</li>
        <li>Crea una copia de <a
        href='https://github.com/eslibre/charlas/blob/master/propuestas/plantilla.md'>la plantilla</a>.</li>
        <li>Llama al fichero con el título de tu charla, y escribe tu propuesta. Recuerda que el fichero debe quedar 
          en la <a href="https://github.com/eslibre/charlas/tree/master/propuestas">carpeta correspondiente a propuestas de charlas</a>.</li>
        <li><a href="https://help.github.com/en/articles/creating-a-pull-request" hreflang="en">Realiza el <abbr title="Pull Request">PR</abbr></a>.</li>
      </ol>
  </div>
  <div class="col-md-6">
      <h3>¿Cómo solicitar una <em lang="en">devroom</em>?</h3>

      <p>El proceso es similar al de la petición de una charla:</p>
      <ol>
          <li><a href="https://help.github.com/en/articles/fork-a-repo" hreflang="en">Haz un fork</a> del <a href="https://github.com/eslibre/charlas/">repositorio</a>.</li>
          <li>Crea una copia de <a
          href='https://github.com/eslibre/charlas/blob/master/devrooms/plantilla.md'>la plantilla</a>.</li>
          <li>Llama al fichero con el nombre de la <em lang="en">devroom</em>, y escribe tu propuesta. Recuerda que el fichero debe quedar 
            en la <a href="https://github.com/eslibre/charlas/tree/master/devrooms">carpeta correspondiente a propuestas de <em lang="en">devrooms</em></a>.</li>
          <li><a href="https://help.github.com/en/articles/creating-a-pull-request" hreflang="en">Realiza el <abbr title="Pull Request">PR</abbr></a>.</li>
      </ol>
      
      <p>Si se quiere plantear un <em>hackatón</em>, se hará dentro
        del formato de una <em lang="en">devroom</em>.
  </div>
</div>

<p>La evaluación de las propuestas se hará en abierto para mayor
  transparencia, a través de comentarios en el <abbr title="Pull Request">PR</abbr>. Con ello también se
  podrán solicitar cambios y mejoras, en caso de considerarse necesario.</p>
