---
layout: default
section: noticias
title: Noticias de esLibre
---

<h1 class="mt-3 mb-3">Últimas noticias</h1>

{% for post in site.posts %}

<div class="row">
    <div class="col-md-4">
        <h2><a href="{{post.url}}">{{post.title}}</a></h2>
        <p><small>{{post.date | date: "%-d %m %Y" }}</small></p>
    </div>
    <div class="col-md-8">
        {{ post.excerpt }}
    </div>
</div>
<hr />

{% endfor %}